version: '3'

services:
    greenmail:
        image: greenmail/standalone:1.6.3
        environment:
            - JAVA_OPTS=-Dgreenmail.verbose
        ports:
            - 3025:3025 # SMTP
            - 3110:3110 # POP3
            - 3143:3143 # IMAP
            - 3465:3465 # SMTPS
            - 3993:3993 # IMAPS
            - 3995:3995 # POP3S
            - 8080:8080 # API

    roundcube:
        image: roundcube/roundcubemail:latest
        depends_on:
            - greenmail
        ports:
            - 80:80
        environment:
            - ROUNDCUBEMAIL_DEFAULT_HOST=greenmail  # IMAP server - tls:// prefix for STARTTLS, ssl:// for SSL/TLS
            - ROUNDCUBEMAIL_DEFAULT_PORT=3143       # IMAP port
            - ROUNDCUBEMAIL_SMTP_SERVER=greenmail   # SMTP server - tls:// prefix for STARTTLS, ssl:// for SSL/TLS
            - ROUNDCUBEMAIL_SMTP_PORT=3025          # SMTP port
