version: '3'
services:
  greenmail:
    image: greenmail/standalone:1.6.3
    environment:
    # Enable GreenMail verbose mode
    - GREENMAIL_OPTS=-Dgreenmail.setup.test.smtp -Dgreenmail.setup.test.imap -Dgreenmail.setup.api -Dgreenmail.hostname=0.0.0.0 -Dgreenmail.auth.disabled -Dgreenmail.verbose
    ports:
    - "3025:3025"
    - "3143:3143"
    - "8080:8080"
  nodemailer:
    build:
      context: .
    links:
    - greenmail
