name: ci
permissions:
  contents: read
on:
  push:
    branches: [master,releases/2.0.x,releases/1.6.x]
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - ".circleci/**"
      - ".github/dependabot.yml"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - ".circleci/**"
      - ".github/dependabot.yml"
  workflow_dispatch: # Manual trigger
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ConcurrentCloseIT_ITERATIONS: "1000"
    strategy:
      matrix:
        java: [ '11', '17', '21' ]
    name: Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v6
      - name: Set-up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build with Maven
        # See https://maven.apache.org/ref/current/maven-embedder/cli.html
        run: ./mvnw --batch-mode -V --fail-at-end --errors install -Pdocker
